<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <!--bu0tton routerLink="/admin" mat-list-item>
            <mat-icon mat-list-icon>home</mat-icon>Inicio
        </button-->

        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon>Mi información
        </button>

        <button mat-list-item routerLink="/admin/servicios">
            <mat-icon mat-list-icon>design_services</mat-icon>Mis servicios
        </button>

        <button mat-list-item routerLink="/admin/examenes">
          <mat-icon mat-list-icon>work_history</mat-icon>Mis asignaciones
        </button>

        <button mat-list-item routerLink="/admin/add-categoria">
            <mat-icon mat-list-icon>notifications_active</mat-icon>Notificaciones
        </button>

        <button mat-list-item routerLink="/admin/add-examen">
            <mat-icon mat-list-icon>error</mat-icon>Ayuda
        </button>


        <!--button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>logout</mat-icon>Salir
        </button-->

    </mat-action-list>
</mat-card>
