<mat-card>
    <h1>Actualizar examen</h1>
    <div class="row">
      <div class="col-md-8 offset-md-2">
          <form *ngIf = "examen" (submit) = 'actualizarDatosExamen()'>
            <mat-form-field class="w100" appearance="fill">               
                <mat-label>Título</mat-label>
                    <input required [(ngModel)]="examen.titulo" name="titulo" type="text" matInput placeholder="Digite título...!">
            </mat-form-field>

            <mat-form-field class="w100" appearance="fill">               
                <mat-label>Descripción</mat-label>
                    <textarea required [(ngModel)]="examen.descripcion" name="descripcion" type="text" rows="8" matInput placeholder="Digite la descripcion...!">
                    </textarea>
            </mat-form-field>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="w100" appearance="fill">               
                        <mat-label>Puntos máximos</mat-label>
                            <input required [(ngModel)]="examen.puntosMaximos" name="puntosMaximos" type="text" matInput placeholder="Digite la cantidad de puntos...!">
                    </mat-form-field>
                </div>

                    <div class="col-md-6">
                        <mat-form-field class="w100" appearance="fill">               
                            <mat-label>Número de preguntas</mat-label>
                                <input required [(ngModel)]="examen.numeroDePreguntas" name="numeroDePreguntas" type="text" matInput placeholder="Digite el número de preguntas...!">
                        </mat-form-field>
                    </div>                
            </div>

            <mat-slide-toggle class="mt20" name="activo" [(ngModel)]="examen.activo" [checked]="false" color="primary">
                Estado de publicación
            </mat-slide-toggle>

            <mat-form-field class="mt20 w100" appearance="fill">
                <mat-form-field class="w100" appearance="fill">               
                    <mat-label>Categorías</mat-label>
                    <mat-select [(ngModel)]="examen.categoria.categoriaId" name="categoria" type="text">
                        <mat-option *ngFor="let c of categorias" [value]="c.categoriaId">
                            {{ c.titulo }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-form-field>

            <div class="container text-center">
                <button mat-raised-button color="primary">Guardar</button>
            </div>
          </form>
        </div>
    </div>
</mat-card>

<!--{{ examenData | json }}-->